{% include 'publicheader.html'%}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome  <span></span></h2>
            <p data-aos="fade-up" style="font-family: ui-serif;font-size:20px">The Skill Swapping Network is an innovative platform designed to facilitate the exchange of skills and expertise among users.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/assets/img/hero-carousel/img17.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/img16.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/img17.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/img19.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/img17.jpg)"></div>

  

    </div>

  </section><!-- End Hero Section -->
{% include 'footer.html'%}